/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
    font-size: 68.5%;
    font-family: sans-serif;
    color: #555;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 12.8rem;
    background-color: #000;
}

.nav-btn {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    margin-right: 0.8rem;
}












