/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 68.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #555;
}

.container {
    width: 110rem;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

/* ************** */
/* HEADER SECTION */
/* ************** */

.section-header {
    background-color: #000000;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 2.4rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5.2rem;
}

.nav-item:link,
.nav-item:visited {
    color: #ffffff;
    text-decoration: none;
}

/* ************** */
/* HERO SECTION */
/* ************** */

.grid--2-cols-3-to-2 {
    grid-template-columns: 3fr 2fr;
    gap: 21.6rem;
}

.hero-section {
    background-color: #555;
    color: #ffffff;
    padding: 8.0rem 0;
}

.logo {
    font-size: 6.2rem;
    margin-bottom: 3.2rem;
}

.first-part {
    font-weight: 600;
}

.oranged {
    color: #fd7e14;
}

.primary-header {
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

hr {
    width: 7.4rem;
    margin-bottom: 4.8rem;
}

.hero-description {
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
}

.download-btn {
    padding: 1.6rem 3.2rem;
    border: 1px solid #ffffff;
    background-color: #fd7e14;
    color: #ffffff;
    font-size: 1.6rem;
}

.sign-up-header {
    font-size: 2.0rem;
    font-weight: 600;
    padding: 1.6rem 4.8rem;
    text-align: center;
    color: #333;
    background-color: #d8d8d8;
}

.sign-up-form {
    background-color: #ffffff;
}

.sign-up-item {
    display: block;
     width: 70%;
     margin: 0 auto;
}














